<%= nested_form_for @team do |f| %>
  <p>
    <%= f.label "Team Name" %><br />
    <%= f.text_field :name %>
  </p>
  <%= f.fields_for :miners do |builder| %>
    <%= render "team_member_fields", :f => builder %>
  <% end %>
  <p><%= f.link_to_add "Add a miner", :miners %></p>
  <p><%= f.submit "Submit" %></p>
<% end %>