<%= form_for(@tunnel) do |f| %>
  <% if @tunnel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tunnel.errors.count, "error") %> prohibited this tunnel from being saved:</h2>

      <ul>
      <% @tunnel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mine_id %><br>
    <%= f.collection_select :mine_id, Mine.all, :id, :name, {include_blank: false}, {class: 'form-control'} %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  
    $('#mine_id').select2({
        createSearchChoice:function(term, data) { 
          if ($(data).filter(function() { 
              return this.text.localeCompare(term)===0; 
          }).length===0) 
          {return {id:term, text:term};} 
        },
        multiple: false
      });

</script>
