<p id="notice"><%= notice %></p>

<h1>Listing Tunnels</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tunnels.each do |tunnel| %>
      <tr>
        <td><%= link_to 'Show', tunnel %></td>
        <td><%= link_to 'Edit', edit_tunnel_path(tunnel) %></td>
        <td><%= link_to 'Destroy', tunnel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tunnel', new_tunnel_path %>
