		
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Icons</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header"><%= @current_mine.name %> production for <%= Time.now.to_formatted_s(:long) %> </h1>
			</div>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<%= fa_icon "folder-o", class: 'fa-fa fa-4x' %>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large"><%= @total_sacks_today %><span><small class="text-muted"> of 300</small></span></div>
							<div class="text-muted">New Sacks</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-orange panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<%= fa_icon "list-alt", class: 'fa-fa fa-4x' %>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large"><%= @total_fund_req_site_today %><span><small class="text-muted"> of 500</small></span></div>
							<div class="text-muted">Site Requests</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-teal panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<%= fa_icon "list", class: 'fa-fa fa-4x' %>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large"><%= @total_fund_req_plant_today  %> <span><small class="text-muted"> of 200</small></span></div>
							<div class="text-muted">Plant Requests</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-red panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<%= fa_icon "inbox", class: 'fa-fa fa-4x' %>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large"><%= @total_yield %> g</div>
							<div class="text-muted">Yield</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Production Overview</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->

<!-- 	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script> -->
	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>