<p id="notice"><%= notice %></p>

<h1>Listing Fixed Assets</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Date purchased</th>
      <th>Quantity</th>
      <th>Amount</th>
      <th>Remarks</th>
      <th>Item code</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fixed_assets.each do |fixed_asset| %>
      <tr>
        <td><%= fixed_asset.category %></td>
        <td><%= fixed_asset.date_purchased %></td>
        <td><%= fixed_asset.quantity %></td>
        <td><%= fixed_asset.amount %></td>
        <td><%= fixed_asset.remarks %></td>
        <td><%= fixed_asset.item_code %></td>
        <td><%= fixed_asset.location %></td>
        <td><%= link_to 'Show', fixed_asset %></td>
        <td><%= link_to 'Edit', edit_fixed_asset_path(fixed_asset) %></td>
        <td><%= link_to 'Destroy', fixed_asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fixed asset', new_fixed_asset_path %>
