<h1>Listing Plant Millings</h1> 



<!-- Production type
<select id="production_type">
  <option value="ball_mill">Ball mill</option>
  <option value="plant">Plant</option>
</select>
 -->

<%= form_tag plant_millings_path, :method => 'get' do %>
  <p>
    <table class="table-bordered table-condensed table-hover">
      <tbody>
        <tr>
          <td>
            Production Type:
            <select name="production_type">
            <option  selected value> All </option>
              <option value="0">Ball Mill</option>
              <option value="2">Plant</option>
              <option value="3">Waste</option>
            </select>
          </td>
          <td>
            <%= submit_tag "Search", :name => nil %>
          </td>
          <td>
             <%= link_to "Download as csv", plant_millings_path(format: "csv") %> 
           </td> 
           <td>
            <%= link_to 'Download as .xlsx', plant_millings_path(format: :xlsx) %>
           </td> 
        </tr>
      </tbody>
    </table>
  </p>
<% end %>

<div class="table-responsive">
<table  class="table-bordered table-condensed table-hover" style="width: 100%">
  <thead>
    <tr>
      <th>Control number</th>
      <th>Team</th>
      <th>Milled from</th>
      <th>Milled to</th>
      <th>Ore count</th>
      <th>Ore weight</th>
      <th>Refined output</th>
      <th>Reference number</th>
      <th>Date sold</th>
      <th>Sold quantity</th>
      <th>Unit price</th>
      <th>Revenue</th>
      <th>Gross sale</th>
      <th>Jdt trading share</th>
      <th>Plant charge</th>
      <th>Corp share</th>
      <th>Royalty share</th>
      <th>Miner share</th>
      <th>Contractor share</th>
      <th>Pioneer share</th>
      <th>Msebua share</th>
      <th>Community fund</th>
      <th>Remarks</th>
      <th>Notes</th>
      <th>Mine</th>
      <th>Updated by</th>
      <th>Created by</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @plant_millings.each do |plant_milling| %>
      <tr>
        <td><%= plant_milling.control_number %></td>
        <td><%= plant_milling.team.name %></td>
        <td><%= plant_milling.milled_from.to_s(:short) %></td>
        <td><%= plant_milling.milled_to.to_s(:short) %></td>
        <td><%= plant_milling.ore_count %></td>
        <td><%= plant_milling.ore_weight %></td>
        <td><%= plant_milling.refined_output %></td>
        <td><%= plant_milling.reference_number %></td>
        <td><%= plant_milling.date_sold.to_s(:short) %></td>
        <td><%= number_to_currency(plant_milling.sold_quantity,:precision => 2, :unit => "") || 0  %></td>
        <td><%= number_to_currency(plant_milling.unit_price,:precision => 2, :unit => "") || 0 %></td>
        <td><%= number_to_currency(plant_milling.revenue,:precision => 2, :unit => "") || 0 %></td>
        <td><%= number_to_currency(plant_milling.gross_sale,:precision => 2, :unit => "") || 0 %></td>
        <td><%= number_to_currency(plant_milling.jdt_trading_share,:precision => 2, :unit => "") || 0 %></td>
        <td><%= number_to_currency(plant_milling.plant_charge,:precision => 2, :unit => "") || 0 %></td>
        <td><%= number_to_currency(plant_milling.corp_share,:precision => 2, :unit => "") || 0 %></td>
        <td><%= number_to_currency(plant_milling.royalty_share,:precision => 2, :unit => "") || 0 %></td>
        <td><%= number_to_currency(plant_milling.miner_share,:precision => 2, :unit => "") || 0 %></td>
        <td><%= number_to_currency(plant_milling.contractor_share,:precision => 2, :unit => "") || 0 %></td>
        <td><%= number_to_currency(plant_milling.pioneer_share,:precision => 2, :unit => "") || 0 %></td>
        <td><%= number_to_currency(plant_milling.msebua_share,:precision => 2, :unit => "") || 0 %></td>
        <td><%= number_to_currency(plant_milling.community_fund,:precision => 2, :unit => "") || 0 %></td>
        <td><%= plant_milling.remarks %></td>
        <td><%= plant_milling.notes %></td>
        <td><%= plant_milling.mine.name %></td>
        <td><%= plant_milling.updated_by %></td>
        <td><%= plant_milling.created_by %></td>
        <td><%= link_to 'Show', plant_milling %></td>
        <td><%= link_to 'Edit', edit_plant_milling_path(plant_milling) %></td>
        <td><%= link_to 'Destroy', plant_milling, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
    <tr style="background-color: #d3d3d3">
         <td colspan="4"><b>Total</b></td>
         <td><%= number_to_currency(@plant_millings.sum('ore_count'),:precision => 2, :unit => "") || 0 %> gm</td>
         <td><%= number_to_currency(@plant_millings.sum('ore_weight'),:precision => 2,:unit => "") || 0 %> gm</td>
         <td><%= number_to_currency(@plant_millings.sum('refined_output'),:precision => 2,:unit => "") || 0 %> gm</td>
         <td colspan="2"></td>
         <td><%= number_to_currency(@plant_millings.sum('sold_quantity'),:precision => 2, :unit => "₱ ") || 0 %></td>
         <td colspan="1"></td>
         <td><%= number_to_currency(@plant_millings.sum('revenue'),:precision => 2, :unit => "₱ ") || 0 %></td>
         <td><%= number_to_currency(@plant_millings.sum('gross_sale'),:precision => 2, :unit => "₱ ") || 0 %></td>
         <td><%= number_to_currency(@plant_millings.sum('jdt_trading_share'),:precision => 2, :unit => "₱ ") || 0 %></td>
         <td><%= number_to_currency(@plant_millings.sum('plant_charge'),:precision => 2, :unit => "₱ ") || 0 %></td>
         <td><%= number_to_currency(@plant_millings.sum('corp_share'),:precision => 2, :unit => "₱ ") || 0 %></td>
         <td><%= number_to_currency(@plant_millings.sum('royalty_share'),:precision => 2, :unit => "₱ ") || 0  %></td>
         <td><%= number_to_currency(@plant_millings.sum('miner_share'),:precision => 2, :unit => "₱ ") || 0 %></td>
         <td><%= number_to_currency(@plant_millings.sum('contractor_share'),:precision => 2, :unit => "₱ ") || 0 %></td>
         <td><%= number_to_currency(@plant_millings.sum('pioneer_share') ,:precision => 2, :unit => "₱ ") || 0 %></td>
         <td><%= number_to_currency(@plant_millings.sum('msebua_share') ,:precision => 2, :unit => "₱ ") || 0%></td>
         <td><%= number_to_currency(@plant_millings.sum('community_fund') ,:precision => 2, :unit => "₱ ") || 0  %></td>
         <td colspan="8"></td>
    </tr>
  </tbody>
</table>
</div>

<style type="text/css">

  table {
    background-color: white;
  }

  td {
      max-width:100%;
      white-space:nowrap;
  }

  th {
      max-width:100%;
      white-space:nowrap;
  }


</style>

<script type="text/javascript">
  $('#menu_select').bind('change', function() {
     window.location.pathname = $(this).val() });
  $( "#datepickerto" ).datepicker({ dateFormat: 'dd-mm-yy' });
  $( "#datepickerfrom" ).datepicker({ dateFormat: 'dd-mm-yy' });
</script>



<%= link_to 'New Plant milling', new_plant_milling_path %>