<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @plant_milling.team %>
</p>

<p>
  <strong>Milled from:</strong>
  <%= @plant_milling.milled_from %>
</p>

<p>
  <strong>Milled to:</strong>
  <%= @plant_milling.milled_to %>
</p>

<p>
  <strong>Ore count:</strong>
  <%= @plant_milling.ore_count %>
</p>

<p>
  <strong>Ore weight:</strong>
  <%= @plant_milling.ore_weight %>
</p>

<p>
  <strong>Refined output:</strong>
  <%= @plant_milling.refined_output %>
</p>

<p>
  <strong>Reference number:</strong>
  <%= @plant_milling.reference_number %>
</p>

<p>
  <strong>Date sold:</strong>
  <%= @plant_milling.date_sold %>
</p>

<p>
  <strong>Sold quantity:</strong>
  <%= @plant_milling.sold_quantity %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @plant_milling.unit_price %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @plant_milling.revenue %>
</p>

<p>
  <strong>Jdt trading share:</strong>
  <%= @plant_milling.jdt_trading_share %>
</p>

<p>
  <strong>Plant charge:</strong>
  <%= @plant_milling.plant_charge %>
</p>

<p>
  <strong>Gross sale:</strong>
  <%= @plant_milling.gross_sale %>
</p>

<p>
  <strong>Corp share:</strong>
  <%= @plant_milling.corp_share %>
</p>

<p>
  <strong>Royalty share:</strong>
  <%= @plant_milling.royalty_share %>
</p>

<p>
  <strong>Miner share:</strong>
  <%= @plant_milling.miner_share %>
</p>

<p>
  <strong>Contractor share:</strong>
  <%= @plant_milling.contractor_share %>
</p>

<p>
  <strong>Pioneer share:</strong>
  <%= @plant_milling.pioneer_share %>
</p>

<p>
  <strong>Msebua share:</strong>
  <%= @plant_milling.msebua_share %>
</p>

<p>
  <strong>Community fund:</strong>
  <%= @plant_milling.community_fund %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @plant_milling.remarks %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @plant_milling.notes %>
</p>

<p>
  <strong>Mine:</strong>
  <%= @plant_milling.mine %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @plant_milling.updated_by %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @plant_milling.created_by %>
</p>

<p>
  <strong>Control number:</strong>
  <%= @plant_milling.control_number %>
</p>

<%= link_to 'Edit', edit_plant_milling_path(@plant_milling) %> |
<%= link_to 'Back', plant_millings_path %>
