<p id="notice"><%= notice %></p>

<h1>Listing Tunnel Operations</h1>

<table>
  <thead>
    <tr>
      <th>Production count</th>
      <th>Production name</th>
      <th>Export count</th>
      <th>Export name</th>
      <th>Status</th>
      <th>Stock pile</th>
      <th>Stock pile name</th>
      <th>Updated by</th>
      <th>Created by</th>
      <th>Tunnel</th>
      <th>Mine</th>
      <th>Operation type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tunnel_operations.each do |tunnel_operation| %>
      <tr>
        <td><%= tunnel_operation.production_count %></td>
        <td><%= tunnel_operation.production_name %></td>
        <td><%= tunnel_operation.export_count %></td>
        <td><%= tunnel_operation.export_name %></td>
        <td><%= tunnel_operation.status %></td>
        <td><%= tunnel_operation.stock_pile %></td>
        <td><%= tunnel_operation.stock_pile_name %></td>
        <td><%= tunnel_operation.updated_by %></td>
        <td><%= tunnel_operation.created_by %></td>
        <td><%= tunnel_operation.tunnel %></td>
        <td><%= tunnel_operation.mine %></td>
        <td><%= tunnel_operation.operation_type %></td>
        <td><%= link_to 'Show', tunnel_operation %></td>
        <td><%= link_to 'Edit', edit_tunnel_operation_path(tunnel_operation) %></td>
        <td><%= link_to 'Destroy', tunnel_operation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tunnel operation', new_tunnel_operation_path %>
