<div class="fields">
	<%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %><br>
   	<%= f.label :salary %><br>
    <%= f.text_field :salary %><br>
    <%= f.label :deduction %><br>
    <%= f.text_field :deduction %><br>
    <%= f.label :net %><br>
    <%= f.text_field :net %><br>
</div>