<p id="notice"><%= notice %></p>

<h1>Listing Payrolls</h1>

<table>
  <thead>
    <tr>
      <th>Reference number</th>
      <th>Payroll date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payrolls.each do |payroll| %>
      <tr>
        <td><%= payroll.reference_number %></td>
        <td><%= payroll.payroll_date %></td>
        <td><%= link_to 'Show', payroll %></td>
        <td><%= link_to 'Edit', edit_payroll_path(payroll) %></td>
        <td><%= link_to 'Destroy', payroll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payroll', new_payroll_path %>
