<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @personnel.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @personnel.date %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @personnel.boolean %>
</p>

<p>
  <strong>Date:</strong>
  <%= @personnel.date %>
</p>

<%= link_to 'Edit', edit_personnel_path(@personnel) %> |
<%= link_to 'Back', personnels_path %>
