<p id="notice"><%= notice %></p>

<h1>Listing Payroll Data</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Payroll</th>
      <th>Salary</th>
      <th>Deduction</th>
      <th>Net</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payroll_data.each do |payroll_datum| %>
      <tr>
        <td><%= payroll_datum.employee %></td>
        <td><%= payroll_datum.payroll %></td>
        <td><%= payroll_datum.salary %></td>
        <td><%= payroll_datum.deduction %></td>
        <td><%= payroll_datum.net %></td>
        <td><%= link_to 'Show', payroll_datum %></td>
        <td><%= link_to 'Edit', edit_payroll_datum_path(payroll_datum) %></td>
        <td><%= link_to 'Destroy', payroll_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payroll datum', new_payroll_datum_path %>
