    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active">Icons</li>
      </ol>
    </div><!--/.row-->
    
    <div class="row">
      <div class="col-lg-12" >
        <h3 class="page-header"><%= @current_mine.name %> Attendance Dashboard</h3>
      </div>
    </div>
    <!--/.row-->

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading dark-overlay"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg>Calendar</div>
		<div class="panel-body">
			<div class="todo-list">
				<div id="calendar"></div>
			</div>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading dark-overlay"><svg class="glyph stroked clipboard-with-paper"><use xlink:href="#stroked-clipboard-with-paper"></use></svg>Miners</div>
			<div class="panel-body">
				<ul class="todo-list">
					<% @attendances.each do |attendance| %>
						<li style="padding: 10px;">
							<div class="checkbox" id="attendance">
								<label for="checkbox"><%= attendance.miner.first_name %> <%= attendance.miner.last_name%></label>
							</div>
				
							<div class="pull-right action-buttons">
								<button id='present-<%= attendance.id %>' class="btn btn-default btn-md <%= 'selected-present' if attendance.attendance_type == 'present'%>" onclick="updateAttendance('<%= attendance.id%>', 'present')">Present</button>
								<button id='absent-<%= attendance.id %>' class="btn btn-default btn-md <%= 'selected-present' if attendance.attendance_type == 'absent'%>" onclick="updateAttendance('<%= attendance.id %>', 'absent')">Absent</button>
								<button id='late-<%= attendance.id %>' class="btn btn-default btn-md <%= 'selected-present' if attendance.attendance_type == 'late'%>" onclick="updateAttendance('<%= attendance.id %>', 'late')">Late</button>
							</div>
						</li>
					<% end %>
				</ul>
				<%= will_paginate @attendances %>
			</div>
			<div class="panel-footer">
				<button class="btn btn-success btn-md" id="btn-save">Set as Holiday</button>
			</div>
	</div>				
</div><!--/.col-->

<script type="text/javascript">

  $(document).ready(function() {

  	var date = new Date("<%= params[:attendance_date] %>");

    $("#calendar").datepicker("setDate" , formatDate(date));

	$('#calendar').datepicker().on("changeDate", function(e) {
    	var datePicked = formatDate(new Date(e.date));
    	$.ajax({
	    	url: '<%= attendance_generate_attendance_path %>',
	        type: 'POST',
	        data: { attendance_date: datePicked},
            success: function(result) {
            	window.location.href = '/attendances?attendance_date=' + datePicked;
            }
        });
    });


    $('#btn-save').click(function() {
        var minerIds = [];
        $('#attendance input:checked').each(function() {
            minerIds.push(this.id);
        });

        $.ajax({
            type: "PUT",
            url: "/attendance/update_multiple",
            data: { 'miner_ids': minerIds }
        });

    });

  });

   function updateAttendance(attendance_id, attendance_type) {
    	$.ajax({
	        type: 'PUT',
	        url: '/check_attendances/' + attendance_id,
	        data: { check_attendance: { attendance_type: attendance_type } }
        });
	}

</script>
<style type="text/css">

	.selected-present {
		background-color: #8ad919;
		border-color: #8ad919;
		color: white;
	}

	.datepicker-inline {
		width: 100%;
	}	
	.table-condensed > thead > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > tfoot > tr > td {
		padding: 20px;
	}

	.datepicker table tr td.old, .datepicker table tr td.new {

	}

	.checkbox label {
		padding-top: 8px;
	}

	 .datepicker table tr td.active.active, .datepicker table tr td.active.active:hover {
	 	background-color: #8ad919;
	 }

	 .datepicker table tr td.active.active{ 
	 	background-color: #8ad919;
	 }
	 
</style>